@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

body {
  font-family: "Pretendard";
}

input {
  font-family: "Pretendard";
}

#header {
  text-align: center;
  padding: 30px;
  font-weight: 700;
  font-size: 2rem;
}

#content {
  min-width: 700px;
  width: 30%;
  border: 1px solid black;
  margin: 0 auto;
  font-size: 1.2rem;

  .explanation-wrapper {
    padding: 30px;

    .date-wrapper {
      margin-top: 30px;
      text-align: center;
    }

    .confirm-wrapper {
      display: flex;
      justify-content: center;
      padding-top: 50px;

      .client {
        margin-right: 50px;
      }
    }
  }

  .explanation-content {
    line-height: 1.5rem;

    .explanation-title {
      font-weight: 700;
    }

    .explanation-detail-wrapper {
      padding: 20px 0;
    }
  }

  .next {
    text-align: center;
    padding: 30px 0;
    font-weight: 700;
  }
}

.inputs {
  border: 0px;
  border-bottom: 1px solid black;
  font-size: 1.1rem;

  &::placeholder {
    font-size: 1.1rem;
  }

  &:focus {
    outline: none;
  }
}

.button-container {
  text-align: center;
  margin-top: 30px;

  .save-button {
    font-family: "Pretendard";
    font-family: 700;
    font-size: 1.3rem;
    background-color: white;
    color: rgb(8, 194, 251);
    border: none;
    padding: 10px;
    border-radius: 8px;

    &:hover {
      cursor: pointer;
      background-color: rgb(8, 194, 251);
      transition: 0.3s;
      color: white;
    }
  }
}

.disable-input {
  display: none;
}

@media print {
  .button-container {
    display: none;
  }
}
